<div class="container-fluid nopadding">
    <div class="row gx-0">
        <div class="col-md-8">
            <div class="left-container">
                <img src="../../../assets/images/banner-2.png" alt="" class="img-responsive" style="object-fit: fill;">
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-container">
                <div class="form-header d-flex justify-content-around align-items-center">
                  <!-- <img class="logo-idra img-fluid" src="../../../assets/images/vendor.png" alt="" srcset=""> -->
                  <h1>Dekko Authentication System</h1> 
                </div>
                <div class="main-form">
                    <div class="short-description">
                        <p></p>
                    </div>
                    <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show">
                        <span id="invalid-uid-pass">Userid_password_wrong</span>
                        <button class="close" data-dismiss="alert" aria-label="Close" (click)="closeError()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="form-group">
                            <label for="userId">UserID</label>
                            <input type="text" formControlName="userId" required minlength="1" placeholder="Enter your UserID" tabindex="1">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" required tabindex="2" autocomplete="off" placeholder="Enter your Password">
                        </div>
                        <button type="submit" class="button-login mt-4" tabindex="3">Login</button>
                    </form>
                    <div class="d-flex justify-content-center align-items-center mt-2 f-pass">
                        <!-- <a class="forgot" key="forget" tabindex="4">{{ 'Forgot' | translate }}</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>