.login-form {
  /* height: 100vh; */
  font-size: 0.81rem;
}
.form-container {
    display: flex;
    flex-direction: column;
  }
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .left-container img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  .form-header {
    padding: 6% 2.4%;
    background: #15245e;
    /* background: #6A2852; */
  }
  .header-logo {
    width: 80px;
    height: 80px;
    display: inline;
  }
  .form-header h1 {
    margin: 0 10px 0 10px;
    font-size: 1.68rem;
    /* font-family: "Kite Display Bold"; */
    /* font-weight: 700; */
    text-align: center;
    color: #fff;
    display: inline;
  }
  .short-description {
    padding-bottom: 7%;
    color: #5b4d4d;
    letter-spacing: 0.3px;
    line-height: 1.6;
  }
  .main-form {
    padding: 10%;
    position: relative;
    font-family: forum;
    font-size: 0.9rem;
    z-index: 9999;
  }
  
  .main-form:before {
    content: "";
    position: absolute;
    top: 50;
    left: 0;
    /* background-image: url("../../../assets/images/doer_logo.png"); */
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.09;
    z-index: -1;
  }
  .short-description p {
    font-family: forum;
    text-align: center;
    font-weight: 500;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }
  /* label {
    color: #141414;
    letter-spacing: 0.3px;
  } */
  .form-group input {
    height: 42px;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #5b6288;
    border-radius: 8px;
    font-size: 1.1rem;
  }
  .no-account {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .button-login {
    padding: 12px 15px;
    display: block;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: #15245e;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  .f-pass a:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /*================================================
      CSS for responsiveness
  ==================================================*/
  
  @media (max-width: 575.98px) {
    .left-container {
      display: none;
    }
    .header-logo {
      width: 60px;
      height: 60px;
      display: inline;
    }
    .form-header h1 {
      font-size: 1.1rem;
      /* font-family: "Kite Display Bold" !important; */
      font-weight: 700;
    }
    .short-description p {
      font-size: 0.75rem;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .left-container {
      display: none;
    }
    .header-logo {
      width: 70px;
      height: 70px;
      display: inline;
    }
    .form-header h1 {
      font-size: 2rem;
      /* font-family: "Kite Display Bold" !important; */
      font-weight: 700;
    }
    .short-description p {
      font-size: 1.2rem;
    }
  }


.logo-idra {
    width: 68px;
    height: 80px;
}

.logo-ump {
    width: 82px;
    /* height: 80px; */
}
label {
  color: #141414;
  letter-spacing: 0.3px;
}

.alert-dismissible {
  padding: 16px !important;
}

.close {
  border: none !important;
  background: none !important;
  float: right;
}