<h1 class="page-title">Form Example</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form [formGroup]="form" novalidate autocomplete="off" (submit)="onSubmit()" (keyup.enter)="onSubmit()">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-end">
                            <app-button [type]="'submit'" [color]="'primary'" [isDisabled]="!form.invalid">SUBMIT</app-button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <app-form-field label="Email" [required]="true" [control]="form.controls.email" [isInline]="isInline"
                                [patternError]="regexErrors.email">
                                <app-input formControlName="email" [placeholder]="'Enter your email address'"></app-input>
                            </app-form-field>
                
                            <app-form-field label="Password" [required]="true" [control]="form.controls.password" [isInline]="isInline"
                                [patternError]="regexErrors.password">
                                <app-password formControlName="password" [placeholder]="'Enter your password'"></app-password>
                            </app-form-field>
                
                            <app-form-field label="Date" [required]="true" [control]="form.controls.date" [isInline]="isInline">
                                <app-date formControlName="date" ></app-date>
                            </app-form-field>
            
                            <app-form-field label="Select" [required]="true" [control]="form.controls.select" [isInline]="isInline">
                                <app-select formControlName="select" [placeholder]="'Select an option'" [items]="items"></app-select>
                            </app-form-field>
            
                            <app-form-field label="Text Area" [required]="true" [control]="form.controls.textarea" [isInline]="isInline">
                                <app-textarea formControlName="textarea" [placeholder]="'Enter text area value here'" [rows]="5"></app-textarea>
                            </app-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <app-form-field label="Checkboxes" [required]="true" [control]="form.controls.checkboxes" [isInline]="isInline">
                                <app-checkboxes formControlName="checkboxes" [items]="items"></app-checkboxes>
                            </app-form-field>
            
                            <app-form-field label="Radios" [required]="true" [control]="form.controls.radios" [isInline]="isInline">
                                <app-radios formControlName="radios" [items]="items"></app-radios>
                            </app-form-field>
                            <app-button [type]="'button'" [color]="'primary'" appFilesUpload [crop]="true">Upload File</app-button>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer">
                    <app-button [type]="'submit'" [color]="'primary'" [isDisabled]="!form.valid">Log in</app-button>
                </div> -->
            </form>
        </div>
    </div>
</div>
