<loading-image [is-loading]="isLoading"></loading-image>
<div class="row">
    <div class="col-sm-8 myDiv">
        <div class="card">
            <form [formGroup]="form" novalidate autocomplete="off" (submit)="onSubmit()" (keyup.enter)="onSubmit()">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h2>{{'Registration Form'|translate}}</h2>
                            <!-- <app-button [type]="'submit'" [color]="'primary'" [isDisabled]="!form.invalid">SUBMIT</app-button> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <app-form-field label="{{'First Name'|translate}}" [required]="true" [control]="form.controls.firstName" [isInline]="isInline">
                                <app-input formControlName="firstName" [placeholder]="'Enter First Name'"></app-input>
                            </app-form-field>
                
                            <app-form-field label="{{'Last Name'|translate}}" [required]="true" [control]="form.controls.lastName" [isInline]="isInline">
                                <app-input formControlName="lastName" [placeholder]="'Enter Last Name'"></app-input>
                            </app-form-field>

                            <app-form-field label="{{'Email'|translate}}" [required]="true" [control]="form.controls.email" [isInline]="isInline">
                                <app-input formControlName="email" [placeholder]="'Enter Email'"></app-input>
                            </app-form-field>

                            <app-form-field label="{{'Mobile'|translate}}" [required]="true" [control]="form.controls.mobile" [isInline]="isInline">
                                <app-input formControlName="mobile" [placeholder]="'Enter Mobile'"></app-input>
                            </app-form-field>

                            <!-- <app-form-field label="{{'Date Of Birth'|translate}}" [required]="true" [control]="form.controls.dateOfBirth" [isInline]="isInline">
                                <app-input formControlName="dateOfBirth" [placeholder]="'Enter Date Of Birth'"></app-input>
                            </app-form-field> -->

                            <app-form-field label="Date Of Birth" [required]="true" [control]="form.controls.dateOfBirth" [isInline]="isInline">
                                <app-date formControlName="dateOfBirth" ></app-date>
                            </app-form-field>

                            <app-form-field label="{{'Address'|translate}}" [required]="false" [control]="form.controls.address" [isInline]="isInline">
                                <app-textarea formControlName="address" [placeholder]="'Enter a Address'" [rows]="5"></app-textarea>
                            </app-form-field>

                            <app-form-field label="{{'User Id'|translate}}" [required]="true" [control]="form.controls.userId" [isInline]="isInline">
                                <app-input formControlName="userId" [placeholder]="'Enter User Id'"></app-input>
                            </app-form-field>

                            <app-form-field label="{{'Password'|translate}}" [required]="true" [control]="form.controls.password" [isInline]="isInline">
                                <app-input formControlName="password" [placeholder]="'Password'"></app-input>
                            </app-form-field>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <app-button (click)="getList()" [type]="'button'" [color]="'warn'">{{'Check List'|translate}}</app-button> &#160;
                    <app-button [type]="'submit'" [color]="'primary'" [isDisabled]="!form.valid">{{'Submit'|translate}}</app-button>
                </div>
            </form>
        </div>
    </div>
</div>

