.myDiv{
    margin-left: 16%;
    margin-top: 2%;
}

@media screen and (max-width: 575px) {
    .myDiv{
        margin-left: 0%;
        margin-top: 2%;
    }
  }

  @media screen and (max-width: 599px) {
    .myDiv{
        margin-left: 2%;
        margin-top: 2%;
        width: 95%;
    }
  }

  @media screen and (max-width: 883px) {
    .myDiv{
        margin-left: 2%;
        margin-top: 2%;
        width: 96%;
      }
  }

  @media screen and (max-width: 960px) {
    .myDiv{
        margin-left: 2%;
        margin-top: 2%;
        width: 96%;
      }
  }

  @media screen and (max-width: 1500px) {
    .myDiv{
        margin-left: 5%;
        margin-top: 2%;
        width: 90%;
      }
  }
