<loading-image [is-loading]="isLoading"></loading-image>
<div class="row">
    <div class="col-sm-12 mainDiv">
        <div class="card">
            <app-form-detail *ngIf="result" [title]="'Registration detail'" [details]="details"></app-form-detail>
            <div style="margin: 2%;" class="card">
                <!-- <div class="card-header">
                    <div class="row ">
                        <div class="col-sm-12 col-md-12">
                            <h2>Registration Detail</h2>
                        </div>
                        
                    </div>
                </div>
                <div class="table-responsive" *ngIf="columns.length > 0">
                    <app-data-table
                        (action)="onTableAction($event)"
                        [dataset]="data" 
                        [columns]="columns"
                        [totalCount]="totalCount"
                        (pageChangeEvent)="pageChangeEvent($event)"
                        (pageSortEvent)="pageSortEvent($event)"
                        [isSelectColumnVisible]="false"
                        [resetPagination]="resetPagination">
                    </app-data-table>
                </div> -->
            </div>
            <!-- <div class="card-footer text-end">
                <app-button (click)="getList()" [type]="'button'" [color]="'warn'">{{'Check List'|translate}}</app-button>
            </div> -->
        </div>
    </div>
</div>
