.mat-drawer {
  width: 250px;
}
.logo-icon{
  /* width: 60px; */
  width: 35px;
}
.router-container {
  padding: 5px 20px;
}

.brand {
  /* display: inline-flex; */
  justify-content: center;
  color: #fff;
  background: #15245E;
  height: 64px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  padding-top: 2px;
}
.username{
  font-weight: 200; 
  font-size: 15px
}
.myLan{
  float: right;
  padding-right: 30px;
  font-weight: 200;
  font-size: 15px;
  padding-top: 12px;
}

.uNameDiv{
  cursor: pointer;
  float: right;
  padding-top: 12px;
}

.removeUnderline {
  text-decoration: none;
}
.user-icon-1{
  width: 36px;
}

@media screen and (max-width: 800px) {
  .title_name{
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .myLan{
    padding-right: 15px;
  }
}

@media screen and (max-width: 292px) {
  .mat-drawer {
    width: 180px;
  }
  .logo-icon{
    width: 40px;
  }
  .myLan {
    font-size: 12px;
  }
  .username{
    font-size: 12px;
  }
  .user-icon-1{
    width: 30px;
  }
}