<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="background: #15245E">
    <mat-toolbar class="brand">
        <!-- <h6 style="font-size: 30px; font-style: oblique;">Ticketing</h6> -->
        <!-- <img src="assets/images/tms-logo.png" class="logo-icon"> -->
        <span class="title_name" style="color: #fff; font-weight: bold;">DEKKO</span>
    </mat-toolbar>
    <app-side-navbar [menuList] = "menuList"></app-side-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background: #15245E; height: 64px" class="justify-content-between ps-0">
      <div style="display: inline-flex;">
        <button style="background: #15245E; color: #fff; top: -5px" mat-icon-button (click)="drawer.toggle()"><mat-icon >menu</mat-icon></button>
        <!-- <span class="d-none d-sm-block" style="color: #fff; font-weight: bold;">{{ 'TMS:APP_NAME' | translate }}</span> -->
        <span class="title_name" style="color: #fff; font-weight: bold;">Dekko Incorporation System</span>
      </div>
    <div class="text-end">
      <div class="uNameDiv" [matMenuTriggerFor]="menu">
        <span class="me-3 text-white username" *ngIf="language == 'en'">{{role}}</span>
        <span class="me-3 text-white username" *ngIf="language == 'bn'">{{role}}</span>
        <img src="assets/images/user.png" class="rounded-circle user-icon-1">
        <mat-menu #menu="matMenu">
          <div mat-menu-item class="text-center" style="height: 72px">
              <img src="assets/images/user.png" class="rounded-circle" style="width: 70px;">
          </div>
          <button mat-menu-item >
            <!-- (click)="openningChangePasswordDialog()" -->
              <mat-icon>password</mat-icon>
              <span>{{'Change Password'|translate}}</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>{{'Logout'|translate}}</span>
          </button>
        </mat-menu>
    </div>
    <!-- <div class="myLan">
      <ul class="list-inline">
        <li id="banglaLangLink" class="list-inline-item">
          <a class="removeUnderline" href="javascript:void(0)" (click)="changeLanguage('bn')" [style.font-weight]="language === 'bn'?'bold':'normal'" [style.color]="language === 'bn'? '#fff' : '#7f9cf3'">বাংলা</a>
        </li>
        <li id="englishLangLink" class="list-inline-item">
          <a class="removeUnderline" href="javascript:void(0)" (click)="changeLanguage('en')" [style.font-weight]="language === 'en'?'bold':'normal'" [style.color]="language === 'en'? '#fff' : '#7f9cf3'">English</a>
        </li>
      </ul>
    </div> -->
  </div>
  </mat-toolbar>
   <div class="router-container" style="height: calc(89vh) !important"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>


