<loading-image [is-loading]="isLoading"></loading-image>
<h1 class="page-title">{{'Registration List'|translate}}</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row ">
                    <div class="col-12 col-md-9 col-xl-6">
                        <app-search (searchTextEvent)="onSearch($event)" [placeholder]="'Search here by Department Id, Department Name'"></app-search>
                    </div>
                    <div class="col-12 col-md-3 col-xl-6 mt-3 mt-md-0 text-end">
                        <app-button [type]="'button'" [color]="'primary'" (click)="AddType()"><mat-icon>add</mat-icon>{{'Add Registration'|translate}}</app-button>
                    </div>
                </div>
            </div>

            <div class="table-responsive" *ngIf="columns.length > 0">
                <app-data-table
                    (action)="onTableAction($event)"
                    [dataset]="data" 
                    [columns]="columns"
                    [listButton]="listButton"
                    [totalCount]="totalCount"
                    (pageChangeEvent)="pageChangeEvent($event)"
                    (pageSortEvent)="pageSortEvent($event)"
                    [isSelectColumnVisible]="false"
                    [resetPagination]="resetPagination">
                </app-data-table>
            </div>
        </div>
    </div>
</div>