/* You can add global styles to this file, and also import other style files */


@import url(./assets/css/fonts.css);
@import url(./assets/css/material-icons.css);
@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import url(./assets/css/materialdesignicons.min.css); */

html, body { height: 100%; }
body { margin: 0; background-color: #fafafa; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-list-item-content {
    color: #fff !important;
}

.mat-row {
  min-height: 42px !important;
}


.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

/* .mat-table {
  width: 100%;
  max-width: 100%;
  min-width: 800px;
  display: table;
  border-collapse: collapse;
  text-overflow: ellipsis;
} */

.mat-table {
  width: 100%;
  min-width: 1000px;
  overflow-y: scroll;
  display: table;
  border-collapse: collapse;
  text-overflow: ellipsis;
}

.mat-cell {
  font-size: 15px;
  margin-right: 10px;
}
.mat-header-cell {
  font-size: 15px;
  padding-right: 10px;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  font-size: 15px;
}
.ng-select.ng-select-single .ng-select-container {
  height: 46px !important;
}

.ng-select.custom .ng-select-container  {            
  height: 46px !important;
}

.ng-select.custom .ng-select-container .ng-value-container .ng-placeholder {
  padding-top: 7px;
  padding-left: 7px;
}

/* matsnackbar custom css */

.isa_info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  .isa_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .isa_warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  .isa_error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
  }
  
  .isa_default {
    color: #333;
    background-color: #fff;
  }
  
  .mat-snack-bar-container{
     margin-top: 65px !important;
     margin-right: 10px !important;
  }

  /* end matsnackbar custom css */

  .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    padding-left: 5px;
  }

  .page-title {
    padding-top: 7px;
  }

  .card-header {
    padding: 1rem 1rem !important;
    background: #f1f6f2;
  }

  .w-75 {
    width: 75px;
  }

#substitute .mat-form-field-infix {
    width: 700px !important;
  }

.message-box .mat-dialog-container{
      padding:12px 0 0 0;
      border-radius: 0;
  }
    