::ng-deep .mat-expansion-panel-header {
    padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
    margin-right: 10px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important
}

::ng-deep .mat-expansion-panel-header {
    height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
    padding-left: 15px !important;
}

::ng-deep .mat-expansion-panel {
   background: #15245E !important;
   color: #fff !important
}


::ng-deep .mat-nav-list .is-active {
    /* background-color: rgb(204, 204, 204)!important; */
    background-color: rgb(84, 87, 226)!important;
    border-left     : 8px solid rgb(139, 137, 133);
    width           : calc(100% - 0px)!important;
}

::ng-deep .mat-expansion-indicator:after {
    color: #fff !important;
}
 

::ng-deep .mat-list-base {
    padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
    padding: 0 8px;
}