<mat-nav-list class="side-navnar">
    <ng-container *ngFor="let menu of menuList; index as i;">
        <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
            [ngTemplateOutletContext]="{menu:menu}">
        </ng-container>
    </ng-container>
</mat-nav-list>

<ng-template #parentMenu let-menu="menu">
    <mat-list-item [routerLink]="menu.url" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
        true}">
        <mat-icon>{{menu.icon}}</mat-icon> {{menu.text | translate}}
    </mat-list-item>
    <mat-divider></mat-divider>
</ng-template>

<ng-template #childMenu let-menu="menu">
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text | translate}}
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-list-item [routerLink]="submenu.url" *ngFor="let submenu of menu.children" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
                true}">
                <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text | translate}}
        </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
</ng-template>