<loading-image [is-loading]="isLoading"></loading-image>
<h1 class="page-title">Data Table</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row ">
                    <div class="col-sm-12 col-md-6">
                        <app-search (searchTextEvent)="onSearch($event)" [placeholder]="'Search here by memberid, name, mobile number and email'"></app-search>
                    </div>
                </div>
            </div>

            <div class="table-responsive" *ngIf="columns.length > 0">
                <app-data-table
                    (action)="onTableAction($event)"
                    [dataset]="data" 
                    [columns]="columns"
                    [totalCount]="totalCount"
                    [resetPagination]="isPageIndexZero"
                    (pageChangeEvent)="pageChangeEvent($event)"
                    (pageSortEvent)="pageSortEvent($event)"
                    [isSelectColumnVisible]="false"
                    [isActionColumnVisible]="true">
                </app-data-table>
            </div>
        </div>
    </div>
</div>



  
