<!-- <loading-image [is-loading]="isLoading"></loading-image> -->
<div class="text-center background-color">
    <img
      class="image-design"
      src="../../../../assets/images/under-construction.jpg"
    />
  </div>